body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333
}
#main_page_header {
    background-color: orangered;
    color: white;
    font-size: 20px;
    text-align: center;
}
#second_page_header {
    background-color: orangered;
    color: white;
    font-size: 20px;
    text-align: center;
}
nav a {
    color:white;
    margin: 0 15px;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
main {
    font-size: 30px;
    max-width: 900;
    margin: auto;
}
section {
    margin-bottom: 35px;
}
#origins_of_basketball {
    width: 50%;
    background-color:#1e3a8a;
    border:1px solid black;
    padding: 10px;
}
#first_game {
    width: 50%;
    background-color: orangered;
    border: 1px solid black;
    padding: 10px;
}
#early_development {
    width: 50%;
    background-color:#1e3a8a;
    border:1px solid black;
    padding: 10px;
}
#NBA {
    width: 50%;
    background-color:#1e3a8a;
    border:1px solid black;
    padding: 10px;
}
#global_influences {
    width: 50%;
    background-color: orangered;
    border: 1px solid black;
    padding: 10px;
}
footer{
    background-color: #222;
    color: white;
    text-align: center;
    font-size: 30px;
}
.subheader {
    font-weight: bold;
    font-size: 25px;
}
.button {
    background-color:orangered;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    margin: 10px;
}
