/* 
This rule styles the entire webpage body.
It sets the default font, removes default margins,
and defines background and text colors for readability.
*/
body {
    font-family: sans-serif; /* Sets readable sans-serif font stack */
    margin: 0; /* Removes default spacing around page edges */
    background-color: #f4f4f4; /* Light gray background color */
}

/* Styles the sematic header section that contains page titles
and navigation links for the main page and second page. */

/* Targets navigation links inside the nav element.
Controls appearance of clickable links. */
/* Bootstrap handles spacing */
nav a {
    color:#fff; /* Makes links visiable */
    text-decoration: underline; /* Adds underline under test */
}

/* Styles the main content area.
   Limits width for readability and centers content.
*/
main {
    font-size: 1.2rem; /* Makes font-size 30px */
    margin: auto; /* Centers the main content */
}

/* Adds spacing between content sections.
Helps visually seperate topics. */
section {
    padding:20px;
    border-radius:12px;
    margin-bottom: 35px;
}

/* Title of second section of info */
#first_game {
    width: 50%; /* Makes the section cover 50% of page */
    background-color: rgb(0, 4, 255); /* Makes the background-color orangered */
    border: 1px solid black; /* Gives a 1px border around the section */
    padding: 10px; /* Internal spacing */
    color: white;
}

/* Title of third section of info */
#early_development {
    width: 50%; /* Makes the section cover 50% of page */
    background-color:rgb(0, 4, 255); /* Makes the background-color blue */
    border:1px solid black; /* Gives a 1px border around the section */
    padding: 10px; /* Internal spacing */
    color: white;
}

/* Styles footer at bottom page.
   Typically used for copyright or extra info. */
footer{
    background-color: #222; /*  Dark background */
    text-align: center; /* Centers footer text */
    font-size: 1.2rem; /* Makes font-size 30px */
    color: white;
    padding: 15px;
    letter-spacing:1px;
}

/* Class for subheader */
.subheader {
    font-weight: bold; /* Makes font-weight bold */
    font-size: 1.2rem; /* makes font-size 25px */
}
img {
    display: block;  /* Places image on its own line */
    margin-top: 15px; /* Adds spacing above the image */
    max-width: 100%;
    height: auto;
}
/* Responsive Media Query */
/* Adjust layout for smaller screens */
@media (max-width: 768px) {

    body {
        font-size: 16px;
    }
    header {
        padding: 15px;
    }
    nav a {
        display: block;
        margin: 8px 0;
    }
    main {
        padding: 15px;
    }
    section {
        margin-bottom: 15px;
    }

}
/* Changes the text color of all <a> tags to white */
a {
    color: #fff; 
}